services:
  - type: web
    name: render-rails
    runtime: ruby
    buildCommand: |
      # Install Node.js dependencies
      npm install -g yarn
      yarn install
      # Install Ruby dependencies and precompile assets
      bundle install
      bundle exec rake assets:precompile
      bundle exec rake assets:clean
    startCommand: bundle exec puma -C config/puma.rb
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: render-rails-db
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
    autoDeploy: true

databases:
  - name: render-rails-db
    databaseName: render_rails_production
    user: render_rails